 @{
    ViewData["Title"] = "Audiences";
}
 
 <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="@Url.Content("~/css/index.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
  <section class="page-title-big-typography bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5"
        style="background-image: url('@Url.Content("~/images/demo-business-clients-title-bg.jpg")')">
        <div class="opacity-extra-medium bg-dark-slate-blue"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center extra-small-screen">
                <div class="col-12 position-relative text-center page-title-extra-large">
                    <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px"
                        data-anime="{ &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        Audiences</h1>
                </div>
                <div class="down-section text-center"
                    data-anime="{ &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <a href="#down-section" aria-label="scroll down" class="section-link">
                        <div
                            class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
                           
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="text-center">
                <h4>Audiences</h4>
                
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none; ">
                        <img src="@Url.Content("~/images/maximize.jpg")" alt="" data-no-retina="" />
                        <h5 class="mt-4">Maximize
                            Your Competitive Edge</h5>
                            <p>Leverage our expertise to gain a comprehensive
                                understanding of your market, target audience, and industry trends. Stay ahead
                                of the competition with data-driven strategies.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none;">
                        <img src="@Url.Content("~/images/research.jpg")" alt="" data-no-retina="" />
                        <h5 class="mt-4">Streamline
                            Your Research Process</h5>
                            <p>Say goodbye to the tedious, time-consuming aspects of
                                quantitative research. Our intuitive platform automates complex tasks, allowing
                                you to focus on interpreting the results and driving actionable change.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none;">
                        <img src="@Url.Content("~/images/trust.jpg")" style="width:80%" alt="" data-no-retina=""/>
                        <h5 class="mt-4">Trust
                            in Reliable Insights</h5>
                            <p>Our team of expert data analysts ensure the accuracy and
                                reliability of your research findings. You can have confidence in the insights
                                that drive your critical business decisions.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>



    <section>
        <div class="container">
            <div class="text-center">
                <h4>B2B Research</h4>
                
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none; ">
                        <img src="@Url.Content("~/images/outdated.jpg")" alt="" data-no-retina=""/>
                        <h5 class="mt-4">The problem with outdated market research</h5>
                            <p>Trying to make critical business decisions based on stale,
                                generic market data is like navigating a minefield blindfolded. You're left
                                guessing, hoping you don't make a costly mistake.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none;">
                        <img src="@Url.Content("~/images/agitate.jpg")" style="width: 83%;" alt="" data-no-retina=""/>
                        <h5 class="mt-4">Agitate
                            the problem</h5>
                            <p>Outdated research leads to missed opportunities, wasted
                                budgets, and falling behind the competition. Your business deserves better - you
                                need fresh, targeted insights to capitalize on emerging trends and stay ahead of
                                the curve.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" style="min-height: 310px; padding:10px; border:none;">
                        <img src="@Url.Content("~/images/solution.jpg")" alt="" data-no-retina="" style="margin-bottom: 30px;" />
                        <h5 class="mt-4">The
                            solution: Cutting-edge B2B research</h5>
                            <p>Our state-of-the-art B2B research platform provides you with
                                instant access to the most up-to-date, industry-specific data and analysis.
                                Leverage these powerful insights to make informed decisions, optimize your
                                strategies, and drive sustainable growth.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <h4>B2C Research</h4>
                <p>Our B2C research platform delivers accurate and actionable intelligence to help you make informed
                    decisions and stay ahead of the competition.</p>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card" style="min-height: 370px; padding:10px; ">
                        <h5 class="mt-4">Uncover
                            Valuable Consumer Insights</h5>
                            <p>Our cutting-edge research methods and advanced data
                                analytics empower you to deeply understand your target audience's preferences,
                                behaviours and pain points. Leverage these insights to create more effective
                                marketing strategies and products that truly resonate with your customers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="min-height: 370px; padding:10px;">
                        <h5 class="mt-4">Outpace
                            the Competition</h5>
                            <p>Stay one step ahead of the curve with our comprehensive market
                                analysis and industry benchmarking. Identify emerging trends, gauge consumer
                                sentiment, and make data-driven decisions that give your business a competitive
                                edge.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="min-height: 370px; padding:10px;">
                        <h5 class="mt-4">Maximize
                            ROI on Your Investments</h5>
                            <p>Our research-backed recommendations will help you allocate
                                your resources more efficiently, optimize your marketing campaigns, and
                                ultimately achieve a higher return on your investments. Make every dollar count
                                towards driving sustainable growth for your business</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class=" pt-4 lg-pt-6 lg-pb-6 text-center">
        <div class="container">
            <h2 class="text-dark-gray"> Database Details</h2>
            <p class="text-dark-gray">Our comprehensive database is tailored for research purposes, with detailed profiling and past
                participation
                information across various sectors and locations. The fact that respondents have specifically opted to
                be
                contacted by phone for research purposes suggests a high level of engagement and potentially
                better-quality
                responses. Having such a database provides tangible reach and streamline the research process by
                targeting
                specific demographics and gathering relevant data through phone interviews</p>

            <h6 class="text-center text-dark-gray small-head">We offer a range of filters to target respondents pool effectively. Below are
                demographic filters</h6>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center mb-2 xs-mb-4"
                            data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                            
                        </div>
                    </div>
                    <div class="row position-relative clients-style-08 mt-25px"
                        data-anime="{ &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <div class="col swiper text-center feather-shadow"
                            data-slider-options="{ &quot;slidesPerView&quot;: 2, &quot;spaceBetween&quot;:0, &quot;speed&quot;: 3000, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination-2&quot;, &quot;clickable&quot;: false }, &quot;allowTouchMove&quot;: false, &quot;autoplay&quot;: { &quot;delay&quot;:0, &quot;disableOnInteraction&quot;: false}, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-four-slide-next-2&quot;, &quot;prevEl&quot;: &quot;.slider-four-slide-prev-2&quot; }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1200&quot;: { &quot;slidesPerView&quot;: 5 }, &quot;992&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;576&quot;: { &quot;slidesPerView&quot;: 2 } }, &quot;effect&quot;: &quot;slide&quot; }">
                            <div class="swiper-wrapper marquee-slide">
        
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Name</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Industry</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Phone</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Address</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Preferred Language</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Title</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Company Size</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Company Revenue</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Total number of surveys participated till date</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Zip</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Last survey participation</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Best available time to call respondents</p></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:voit(0)"><p>Role/decision level (Decision makers, Influencers, etc.)</p></a>
                                </div>
                                
        
        
                            </div>
                        </div>
                    </div>
                </div>
            <!-- <ol class="text-left" style="display: flex; gap: 5px;">
                <li>Name</li>
                <li>Industry</li>
                <li>Phone</li>
                <li>Address</li>
                
                <li>Preferred Language</li>
                <li>Title</li>
                <li>Company Size</li>
                <li>Company Revenue</li>
                <li>Total number of surveys participated till date</li>
                
                <li>Last survey participation </li>
                <li>Best available time to call respondents</li>
                <li>Role/decision level (Decision makers, Influencers, etc.)</li>
                <li>Zip</li>

            </ol> -->
        </div>


    </section>


    <section>
        <div class="container">
            <div class="text-center">
                <h4>Healthcare</h4>
                <p>Our cutting-edge healthcare research platform empowers you to make data-driven decisions that
                    transform lives</p>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card" style="min-height: 310px; padding:10px; ">
                        <h5 class="mt-4">Uncover
                            Valuable Consumer Insights</h5>
                            <p>Dive deep into a vast trove of meticulously curated
                                healthcare data, leveraging advanced analytics to uncover groundbreaking
                                insights that can revolutionize your approach to patient care.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="min-height: 310px; padding:10px;">
                        <h5 class="mt-4">Accelerate
                            Innovation</h5>
                            <p>Harness the power of our research platform to fuel your
                                pipeline of innovative healthcare solutions, staying ahead of the curve and
                                delivering life-changing breakthroughs to those who need it most.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="min-height: 310px; padding:10px;">
                        <h5 class="mt-4">Empower
                            Informed Decisions</h5>
                            <p>Make confident, data-driven choices that optimize healthcare
                                outcomes, streamline operations, and position your organization as a leader in
                                the dynamic and rapidly evolving healthcare landscape.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
   

   
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>


   <script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

<script type="text/javascript" src="~/js/jquery.js"></script>
<script type="text/javascript" src="~/js/vendors.min.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
