@{
    ViewData["Title"] = "Home Page";
}


   
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


 <section class="page-title-big-typography bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5"
        style="background-image: url('@Url.Content("~/images/demo-business-pricing-title-bg.jpg")')">
        <div class="opacity-extra-medium bg-dark-slate-blue"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center extra-small-screen">
                <div class="col-12 position-relative text-center page-title-extra-large">
                    <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px"
                        data-anime="{ &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        Our Technology</h1>
                </div>
                <div class="down-section text-center"
                    data-anime="{ &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <a href="#down-section" aria-label="scroll down" class="section-link">
                        <div
                            class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-solitude-blue">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 col-sm-10 text-center"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <span
                        class="bg-white box-shadow-quadruple-large text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Our
                        Technology</span>
                    <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px">Computer-Assisted Telephone Interviewing
                        (CATI)
                    </h3>
                </div>
            </div>
            <div class="row">
                <p>At MLRS Global, we use state-of-the-art Computer-Assisted Telephone Interviewing (CATI) technology to
                    carry out efficient and high-quality market research and data collection. CATI systems streamline
                    the interview process by integrating computer technology with telephone interviewing, allowing our
                    researchers to administer surveys and gather data with precision and speed.</p>
            </div>

        </div>
    </section>

    <section id="down-section mb-5">
        <div class="container">
            <h3 class="text-center text-dark-gray">Key features of our CATI technology include:</h3>
            <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-4 row-cols-sm-2 justify-content-center"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;translateX&quot;: [-30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                <div class="col icon-with-text-style-09 md-mb-50px">

                    <div class="feature-box">
                        <div
                            class="feature-box-icon feature-box-icon-rounded dark-hover box-shadow-medium-bottom w-110px h-110px rounded-circle mb-25px">
                           <img src="@Url.Content("~/images/scripting.png")" alt="">
                            <div class="feature-box-icon-hover bg-blue rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="d-inline-block alt-font fw-500 text-dark-gray mb-5px fs-18"> Scripting
                                Capabilities</span>
                            <p class="w-90 sm-w-100 xs-w-80 m-auto">We design and customize survey scripts tailored to
                                specific research objectives, ensuring consistency and accuracy in data collection.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col icon-with-text-style-09 md-mb-50px">
                    <div class="feature-box">
                        <div
                            class="feature-box-icon feature-box-icon-rounded dark-hover box-shadow-medium-bottom w-110px h-110px rounded-circle mb-25px">
                            <img src="@Url.Content("~/images/real_time.png")" alt="">
                            <div class="feature-box-icon-hover bg-blue rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="d-inline-block alt-font fw-500 text-dark-gray mb-5px fs-18"> Real-time
                                Monitoring</span>
                            <p class="w-90 sm-w-100 xs-w-80 m-auto">Supervisors can monitor interviews in real-time,
                                enabling immediate adjustments and ensuring adherence to quality standards
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col icon-with-text-style-09 xs-mb-50px">
                    <div class="feature-box">
                        <div
                            class="feature-box-icon feature-box-icon-rounded dark-hover box-shadow-medium-bottom w-110px h-110px rounded-circle mb-25px">
                            <img src="@Url.Content("~/images/data.png")" alt="">
                            <div class="feature-box-icon-hover bg-blue rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="d-inline-block alt-font fw-500 text-dark-gray mb-5px fs-18">Data Management
                            </span>
                            <p class="w-90 sm-w-100 xs-w-80 m-auto">Seamless integration with data management systems
                                facilitates efficient handling and storage of collected data, optimizing analysis
                                processes.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col icon-with-text-style-09">
                    <div class="feature-box">
                        <div
                            class="feature-box-icon feature-box-icon-rounded dark-hover box-shadow-medium-bottom w-110px h-110px rounded-circle mb-25px">
                        <img src="@Url.Content("~/images/survey.png")" alt="">     
                            <div class="feature-box-icon-hover bg-blue rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">

                            <p class="w-90 sm-w-100 xs-w-80 m-auto">CATI empowers our researchers to conduct precise
                                surveys, leveraging technology to deliver insightful data that drives informed
                                decision-making for our clients.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="bg-solitude-blue">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 col-sm-10 text-center"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                    <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px">Online Sampling
                    </h3>
                </div>
            </div>
            <div class="row">
                <p>Are you looking to gain valuable insights from your research surveys? Look no further than MLRS
                    Global. Our online sample data collection services offer targeted sample data, cost-effective
                    solutions, faster response times, and quality insights with the convenience of modern technology.
                    Make informed business decisions and move forward confidently with MLRS Global</p>
            </div>

            <div class="listing">
                <h5>Reach your desired audience with precision and accuracy. Our targeted sample collection services
                    help you gather data from the right demographics for actionable insights.</h5>
                <ul>
                    <li>Transform Your Data Collection Strategy with MLRS Global</li>
                    <li>Targeted Sample Collection for Specific Demographics</li>
                    <li>Gain Actionable Insights for Informed Business Decisions</li>
                    <li>Efficient Data Collection for Faster Response Times</li>
                    <li>Optimize Your Research Surveys</li>
                    <li>Unlock Powerful Insights</li>
                    <li>Enhance Your Decision-Making</li>
                    <li>Global Reach and Extensive Data Collection</li>

                </ul>

                <p style="font-weight: 600;">Start making informed decisions and unlock powerful insights with MLRS
                    Global today. Optimize your
                    data collection process and enhance your decision-making capabilities with our expert solutions</p>
            </div>

        </div>
    </section>

    <div class="feat bg-gray pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="section-head col-sm-12">
                    <h4><span>Why Choose</span> Us?</h4>
                    <p>When you choose us, you'll feel the benefit of 10 years' experience of Web Development. Because
                        we know the digital world and we know that how to handle it. With working knowledge of online,
                        SEO and social media.</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                        <h6>Global Reach</h6>
                        <p>Connect with nearly half a million individuals in over 10 countries.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                        <h6>Extensive Data Collection</h6>
                        <p>Gather detailed individual profile attributes through our thorough surveys</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="item"> <span class="icon feature_box_col_three"><i
                                class="fa fa-hourglass-half"></i></span>
                        <h6>High-Quality Data</h6>
                        <p>Receive feasible, sustainable, representative, and consistent data.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                        <h6>Diverse Audience</h6>
                        <p>Efficiently reach consumer, business, specialty, or hard-to-reach audiences.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                        <h6>Reliable Data Sources</h6>
                        <p>Access data directly contributed by consumers and business professionals.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section>
        <div class="container ">
            <h4 class="text-center mb-5 alt-font text-dark-gray fw-600 ls-minus-1px">Quality Checks</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Double Opt-in registration</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Captcha to verify human </h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Duplicate email address</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Ip address matching with the geography</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Postal code </h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxes">
                        <h6>Phone number </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>


   <script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/vendors.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/main.js")"></script>
